body {
  margin: 0;
  overflow: hidden;
  background: #131313;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* Top Bar */
.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 28px;
  width: 100%;
  background: #131313;
  color: white;
  font-size: 14px;
}
.top-icon {
  width: 18px;
  filter: brightness(0) invert(1);
  cursor: pointer;
}
.top-bar-text-display {
  font-weight: bold;
}

/* Sidebar */
.sidebar {
  position: fixed;
  left: 0;
  top: 28px;
  width: 60px;
  height: calc(100vh - 28px);
  background: #170e14;
}
.side-icon {
  width: 40px;
  filter: brightness(0) invert(1);
  cursor: pointer;
  transition: 0.2s;
}
.side-icon:hover {
  transform: scale(1.1);
}

/* Desktop */
.ubuntu-desktop {
  margin-left: 60px;
  margin-top: 28px;
  height: calc(100vh - 28px);
  background-image: url("./assets/ubuntu_wallpaper.jpg");
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, 120px);
  grid-auto-rows: 120px;
  gap: 10px;
  padding: 15px;
}
.icon {
  padding: 4px;
  text-align: center;
}
.icon:hover {
  background-color: rgba(80, 140, 255, 0.25);
  border: 1px solid rgba(50, 100, 200, 0.6);
  border-radius: 6px;
  backdrop-filter: blur(2px);
  transition: 0.15s ease-in-out;
  cursor: pointer;
}
.icon-img {
  width: 60px;
}
.icon-label {
  color: #fff;
  font-size: 14px;
  margin-top: 5px;
}

/* Fenêtre Ubuntu */
.ubuntu-window {
  position: absolute;
  top: 50px;
  left: 80px;
  right: 40px;
  bottom: 40px;
  background: #2a2a2aee;
  border-radius: 8px;
  backdrop-filter: blur(6px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

/* Header de la fenêtre */
.window-header {
  height: 32px;
  background: #3a3a3a;
  color: white;
  font-weight: bold;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  align-items: center;
}
.btn-close-window {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: none;
  background-color: #ff5f56;
  cursor: pointer;
  position: relative;
  font-size: 0;
}
.btn-close-window::before {
  content: "×";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: white;
  line-height: 1;
}
.btn-close-window:hover {
  background-color: #ff2a26;
}

/* Styles de base pour toutes les fenêtres */
.window-content {
  flex: 1;
  color: white;
  overflow-y: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: transparent;
  overflow-y: auto;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
