/* Styles spécifiques à la page "Démarche Libre" */
.checkerboard-bg {
  background-color: #2d3c5d;
  background-image: linear-gradient(45deg, #475175 25%, transparent 25%),
    linear-gradient(-45deg, #475175 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #475175 75%),
    linear-gradient(-45deg, transparent 75%, #475175 75%);

  /* Augmentation de la taille des cases */
  background-size: 80px 80px;

  /* Ajustement de la position pour garder le motif correct */
  background-position: 0 0, 0 40px, 40px -40px, -40px 0px;

  width: 100%;
  height: 100%;
  padding-inline: 8rem;
  overflow-y: auto;
  position: relative;
}

.article-body {
  background-color: rgba(255, 255, 255, 0.75);
  color: #111;
  min-height: 100%;
  padding: 40px;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 1.8;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  overflow-y: auto;
}

/* Titres */
.article-body h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #2d3c5d;
  text-align: center;
}

.article-body h3 {
  font-size: 26px;
  margin-top: 30px;
  margin-bottom: 15px;
  color: #475175;
}

/* Paragraphes */
.article-body p {
  margin-bottom: 18px;
  text-align: justify;
}

/* Listes */
.article-body ul,
.article-body ol {
  margin-left: 20px;
  margin-bottom: 20px;
}

.article-body ul li,
.article-body ol li {
  margin-bottom: 10px;
}

/* Petits détails */
.article-body strong {
  color: #2d3c5d;
}
